
<h2>LOGIN</h2>
<form action="ValidateLogin" method="post">
	<p>User Name		<br /><input type="text" name="UserName"  /></p>
	<p>Password			<br /><input type="password" name="Password"  /></p>
	<input type="submit" value="Click to login!" />

</form>